footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  font-size: 20px; }
  footer, footer a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", Impact, sans-serif;
    font-weight: light;
    opacity: .8; }

.absolute {
  position: absolute; }

.nearTop {
  top: 20%; }

.left {
  left: 0; }

.right {
  right: 0; }

.twothird {
  box-sizing: border-box;
  width: 60%; }

.third {
  box-sizing: border-box;
  width: 30%; }

.fleft {
  float: left; }

.fright {
  float: right; }
